<nav class="navbar navbar-light navbar-s">
  <div class="container-fluid">
    <a class="navbar-brand cw"><h2>Weather API</h2></a>
    <form
      class="d-flex"
      [formGroup]="weatherSearchForm"
      (ngSubmit)="sendToAPI(weatherSearchForm.value)"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search..."
        aria-label="Search"
        id="weatherLocation"
        aria-describedby="weatherLocation"
        formControlName="location"
      >
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="mg5">
  <div class="container cw" *ngIf="weatherCurrentData">
    <div class="dpFlex jcsb">
      <div>
        <h2>{{this.weatherCurrentData?.location.name}}, {{this.weatherCurrentData?.location.country}}</h2>
        <p>{{this.weatherCurrentData?.current.last_updated | date: 'EEEE, MMMM d, y'}}</p>
        <div>
          <img src="{{this.weatherCurrentData?.current.condition.icon}}">
          <p>{{this.weatherCurrentData?.current.condition.text}}</p>
        </div>
      </div>

      <div>
        <p class="fs100">{{this.weatherCurrentData?.current.temp_c | number:'1.0-0'}}°</p>
        <p>Feels like: {{this.weatherCurrentData?.current.feelslike_c | number:'1.0-0'}}°</p>
      </div>
    </div>

    <div class="w145 dpFlex jcsb">
      <button
        type="button"
        class="btn btn-outline-success myActive"
        (click)="clickEvent()"
        [ngClass]="toggle ? 'active' : 'disable'"
      >Daily
      </button>
      <button
        type="button"
        class="btn btn-outline-success myActive"
        (click)="clickEvent()"
        [ngClass]="toggle ? 'disable' : 'active'"
      >Hourly
      </button>
    </div>

    <hr>

    <div [ngSwitch]="toggle">
      <div class="dpFlex jcsb" *ngSwitchCase="true">
        <div class="dpFlex fdc aic" *ngFor="let wFore of this.weatherForecastData?.forecast.forecastday">
          <p>{{wFore.date | date: 'EE, MMM d'}}</p>
          <img src="{{wFore.day.condition.icon}}">
          <p>{{wFore.day.mintemp_c | number:'1.0-0'}}° / {{wFore.day.maxtemp_c | number:'1.0-0'}}°</p>
        </div>
      </div>

      <div class="dpFlex jcsb" *ngSwitchCase="false">
        <div class="dpFlex fdc aic">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[10].time | date: 'h a'}}</p>
          <img src="{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[10].condition.icon}}">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[10].temp_c | number:'1.0-0'}}°</p>
        </div>
        <div class="dpFlex fdc aic">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[12].time | date: 'h a'}}</p>
          <img src="{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[12].condition.icon}}">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[12].temp_c | number:'1.0-0'}}°</p>
        </div>
        <div class="dpFlex fdc aic">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[14].time | date: 'h a'}}</p>
          <img src="{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[14].condition.icon}}">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[14].temp_c | number:'1.0-0'}}°</p>
        </div>
        <div class="dpFlex fdc aic">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[16].time | date: 'h a'}}</p>
          <img src="{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[16].condition.icon}}">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[16].temp_c | number:'1.0-0'}}°</p>
        </div>
        <div class="dpFlex fdc aic">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[18].time | date: 'h a'}}</p>
          <img src="{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[18].condition.icon}}">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[18].temp_c | number:'1.0-0'}}°</p>
        </div>
        <div class="dpFlex fdc aic">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[20].time | date: 'h a'}}</p>
          <img src="{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[20].condition.icon}}">
          <p>{{this.weatherForecastData?.forecast.forecastday?.[0].hour?.[20].temp_c | number:'1.0-0'}}°</p>
        </div>
      </div>

    </div>
  </div>
</div>

